@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

body {
  font-family: "Manrope", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
